* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 16px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
}

.home{
    padding: 50px 20px;
    text-align: center;
    display: flex;
    width: 100%;
    height: 700px;
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(images/dr\ with\ patient\ sample.jpg);
}

.home-content{
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome {
    padding: 50px 20px;
    text-align: center;
    background-color: #f7f7f7;
}

.welcome-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.welcome-content img {
    max-width: 500px;
    margin-right: 20px;
}

.welcome-content .text-content {
    max-width: 600px;
    text-align: left;
}

.specialties {
    padding: 50px 20px;
    background-image: linear-gradient(#fff,#e1faf9);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.doctor {
    padding: 50px 20px;
    text-align: center;
}

.doctor-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.doctor-profile img {
    max-width: 300px;
    margin-right: 20px;
}

.advantages {
    padding: 50px 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature {
    max-width: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews {
    padding: 50px 20px;
    text-align: center;
    display: flex;
    width: 100%;
    height: 700px;
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(images/familySmiling.jpg);
}

.review-container {
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.review {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-bottom {
    background-color: #135caa;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #cba951;
}

.logo-img{
    max-width: 175px;
    max-height: 150px;
    margin-top: -15px;
}

.header{
    display: flex;
    flex-direction: column;
}

.transform{
    text-transform: uppercase;
}

.menu-buttons{
    display: flex;
    justify-content: end;
    margin-right: -15px;
}

.diamond{
    width: 20px;
    filter: brightness(0.5) invert(1);
}

.primary-color{
    color: #135caa;
}
.primary-bg{
    background-color: #135caa
}

.secondary-bg{
    background-color: #44AFD1;
}

.invisalign{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.phone-logo{
    width: 20px;
    position: relative;
    top: -2px;
}

.polyviou_family{
    display: flex;
    max-width: 50%;
    height: auto;
    img{
        width: 85%;
    }
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gold-btn{
    background-color: #cba951;
}

.dr-paul{
    max-width: 50%;
    img{
        width: 55%;
    }
}

.meet-doc{
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
} 

.clinic-img {
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(images/dentalClinic.webp); 
}
.bio-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 25px;
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.info-box {
    flex: 1;
    margin: 10px;
    text-align: center;
    border: 1px solid #135caa;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px;
    width: auto;
    min-height: 310px;
    position: relative;
}

.olive-green{
    color: olive;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

}

.welcome-patients{
    background-color: #0e57a3;
    color: white;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.65);
    max-width: 75%;
    text-align: center;
    margin-bottom: 5em;
}

.invisalign-banner{
    flex: 1;
    position: relative;
    background-image: url(images/invisalign_aligner.jpg);
    background-size: cover;
    background-position: center;
}
.invisalign-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 25px;
}
.provider-logo{
    height: auto;
    max-width: 100px;
    filter: invert(0) brightness(0) saturate(0);
}
.banner-inv{
    letter-spacing: 7px;
}
.banner{
    display: flex;
    width: 100%;
    height: 700px;
}
.specialty-logo{
    max-width: 73px;
    height: 73px;
    background-color: #f7f6f1;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #cba951;
}
.icon-wrap{
    width: 93px;
    height: 93px;
    border: 1px solid #135caa;
    position: absolute;
    top: -48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    left: 0;
    right: 0;
}
.number-top{
    position: relative;
    top: 30px;
    z-index: 1;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #135caa;
    border-radius: 100%;
    color: #fff;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
}
.box{
    width: 100%;
    max-width: 406px;
    min-height: 120px;
    border: 2px solid #4F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    position: relative;
    margin: 0 auto;
}
.logo-wrap{
    margin-right: 15px;
}
.logo-wrap-inner{
    width: 92px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;
    }
}
.name-circle{
    color: #fff;
    background-color: #135caa;
    font-size: 35px;
    border-radius: 50%;
    margin: -30px auto 10px auto;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    img{
        width: 100px;
    }
}
.google-logo{
    width: 100px;
    margin-bottom: 20px;
}
.card{
    height: 310px;
    align-items: center;
    display: flex;
    color: #135caa;
    border-radius: 10px;
}
.name-class{
    font-size: 18px;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.details{
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}
table{
    border-collapse: separate;
}
td{
    padding-right: 7em;
}
.timing{
    text-align: right;
}
.footer-buttons{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-185{
    width: 185px;
}
.btn{
    pointer-events: none;
}